body {
    background-color: lightblue;
}
.b1 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10%;
    margin-top: 50px;
}
.b2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10%;
    margin-top: 50px;
}
.b3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10%;
    margin-top: 50px;
}
.b4 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10%;
    margin-top: 50px;
}